.gövde {
  background-color: darkcyan;
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: cyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: turquoise;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.baslik {
  text-align: center;
  background-color: darkblue;
  color: lime;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.tanitim {
  text-align: left;
  background-color: skyblue;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
}
.futbol {
  text-align: center;
  color: red;
  font-size: x-large;
  float: left;
  height: 280px;
  background-color: gold;
}
.basketbol {
  text-align: center;
  color: red;
  font-size: x-large;
  float: left;
  height: 280px;
  background-color: chocolate;
}
.bisiklet {
  text-align: center;
  color: red;
  font-size: x-large;
  float: left;
  height: 280px;
  background-color: chartreuse;
}
.piyano {
  text-align: center;
  color: red;
  font-size: x-large;
  float: left;
  height: 280px;
  background-color: darkslategrey;
}
.linkler {
  text-align: left;
  width: 100%;
  height: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: lightsalmon;
  float: left;
}
.loginform {
  text-align: center;
  background-color: aqua;
}
.iletisimform {
  float: left;
  text-align: center;
}
.sifirla {
  clear: both;
}
