body {
  background-color: #92a8d1;
}
.baslik {
  text-align: center;
  background-color: darkblue;
  color: lime;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.tanitim {
  text-align: justify;
  background-color: skyblue;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}
.hobilerim {
  text-align: left;
  color: red;
  font-size: x-large;
}
